<p id="notice"><%= notice %></p>
<div id="cart" style="text-align:right;">
  <%= render 'carts/cart' %>
</div>
<h1>Products</h1>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="card mb-4" style="width: 21rem; height:auto">
        <div class="text-center">
          <%= image_tag product.image, width: '100px', height: '210px', class:'mt-3'%>
        </div>
        <div class="card-body">
          <ul>
            <li><strong>ProductName:</strong> <%= product.name %></li>
            <li><strong>Price: </strong><i>Rs.</i><%= product.price %></li>
            <li><strong>Description:</strong> <%= product.description %></li>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :product_id, :value => product.id %>
              <%= f.number_field :quantity, :value => 1, :min => 1%>
              <%= f.submit "Add to cart" %>
            <% end %>
          </ul>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </tr>
  <% end %>
</tbody>
</table>
<br>
<style>
  li{
      list-style: none;
  }
  .card{
      background-color: #FCFCFA;
  
  }
  .card-body{
      background-color: #FFFFFE;
  }
  .container{
      margin-right: 10px;
  }
</style>
